




<div class="avatar">
	<img *ngIf="visibleAvatar" [src]="service.myAvatar" alt="">
</div>

<div class="auth-form message light">
	<div class="message-wrapper">
		<input type="text" 
			[disabled]="viewLoader" 
			[(ngModel)]="name" 
			(keydown)="enter($event)"
			[ngStyle]="{'border-bottom-color': name ? '#CDDC39' : ''}"
			placeholder="Имя">
	</div>
</div>

<div class="auth-form message light">
	<div class="message-wrapper">
		<input type="password" 
			[disabled]="viewLoader" 
			[(ngModel)]="pass" 
			(keydown)="enter($event)"
			[ngStyle]="{'border-bottom-color': pass ? '#CDDC39' : ''}"
			placeholder="Пароль">
	</div>
</div>

<button class="btn auth-btn" style="justify-content: center" [disabled]="viewLoader" (click)="logIn()">ОК</button>