body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #303030;
	color: white;
}
.row {
	width: 500px;
	height: 500px;
	margin: 100px auto;
	padding: 15px;
	border-radius: 3px;
	background: rgba(154, 205, 50, .4);
}

.loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// background: rgba(40,70,200,.5);
	z-index: 100;
	justify-content: center;
    align-items: center;
}

.avatar {
	height: 150px;
	width: 150px;
	background: #a9a9a9;
	border-radius: 50%;
	margin: 30px auto;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	overflow: hidden;
	
	& img {
		animation: msg-show2 .5s linear;
		border-radius: 50%;
		border: 1px solid red;
	}
}

.container{
	width: 960px;
	margin: 50px auto 0;

	& .clear {clear: both;}
}

.block {
	padding: 5px;
	float: left;
	box-sizing: border-box;
	width: 20%;

	&.center {
		width: 60%;
	}

	& .main-block, .left-bar, .right-bar {
		// border: 1px solid rgba(255,255,255,.1);
		border-radius: 3px;
		// padding: 15px;
		padding: 5px;

		& ul {
			list-style: none;
    		padding: 0;
    		margin: 0;
		}
	}

}

.auth-form, .auth-btn {
	width: 250px;
	margin: 0 auto;
	display: block;
}






.message {
	background: #424242;
    color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    border-radius: 2px;
    font-size: 13px;
    margin-bottom: 5px;
}

.message-img {
	position: absolute;
    top: 10px;
    left: 10px;
    height: 36px;
    width: 36px;
}

.message-img img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.message-wrapper{
	margin-left: 56px;
	padding: 10px 10px 6px 0;
}

.message-autor {
	font-weight: 700;
}
.message-autor span {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	padding-left: 5px;
}

.message-label {
	padding: 5px 0;
	color: rgba(255,255,255,.8);
}

.message.light {
	background: #626262;
	line-height: 24px;

	& .message-wrapper {
		margin-left: 0;
		text-align: center;
		font-size: 17px;
		padding: 10px;

		& input {
			width: 100%;
		    border: 0;
		    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		    background: transparent;
		    line-height: 20px;
		    color: white;
		    padding-top: 2px;

		    &:focus {
		    	outline: none;
		    	border-color: white;
		    }

		    &::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.4);}
		    &::-moz-placeholder          {color:rgba(255, 255, 255, 0.4);}/* Firefox 19+ */
		    &:-moz-placeholder           {color:rgba(255, 255, 255, 0.4);}/* Firefox 18- */
		    &:-ms-input-placeholder      {color:rgba(255, 255, 255, 0.4);}
		}
	}
}
.message.light .message-back{
	padding: 0 10px;
	position: absolute;
	line-height: 42px;
	
	& span{
		font-size: 16px;
	}
}

a{
	text-decoration: none;
    color: white;
}


.answer {
	opacity: 1;
	height: 14px;
	line-height: 14px;
	margin-bottom: 10px;
	font-size: 12px;
	padding: 5px 0 0 56px;
	font-style: italic;
}

.answer span{
	opacity: 0;
}

@keyframes show {
	from {opacity: 0;}
	50% {opacity: 1;}
	to {opacity: 0;}
}

@keyframes msg-show {
	from {opacity: 0;}
	10% {opacity: 0;}
	to {opacity: 1;}
}
@keyframes msg-show2 {
	from {opacity: 0;}
	50% {}
	80% {opacity: 1;}
	to {}
}

msg .message, msg-in-list .message {
	// opacity: 0;
	animation: msg-show .6s linear;
}


.animate {
	animation: msg-show .1s linear;
}


.new-chat {
	font-size: 13px;
    text-align: center;
}

.italic {
	font-style: italic;
}
.light-color {
	color: rgba(255,255,255,.3);
}

span.iam {
	color: #000;
    display: inline-block;
    background: #CDDC39;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
}


msg-in-list {
	&:focus {
		outline: none;
	}
	&:hover .message {
		background: #585858;
		cursor: pointer;
	}
}


.btn {
	background: rgba(0,0,0,.12);
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: white;
    min-width: 120px;

	&:hover,.active {
		background: #424242;
	}
	&.active {
		background: #424242;
	}

	&:focus {
		outline: none;
	}
}

.container-spanner circle {
    transition-property: stroke;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.35,0,.25,1);
    animation-iteration-count: infinite;

    fill: transparent;
    transform-origin: center;
    transition: stroke-dashoffset 225ms linear;

    animation-name: mat-progress-spinner-stroke-rotate-100; 
    stroke-dasharray: 282.743px; 
    stroke-width: 5%;

    stroke: #9c27b0;
}

.container-spanner {
    animation: mat-progress-spinner-linear-rotate 2s linear infinite;
    width: 50px; 
    height: 50px;
    & svg {
    	width: 50px; 
    	height: 50px;
    }
}

@keyframes mat-progress-spinner-linear-rotate {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}

@keyframes mat-progress-spinner-stroke-rotate-100 {
	0% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotate(0);
	}
	12.5% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotate(0);
	}
	12.51% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotateX(180deg) rotate(72.5deg);
	}
	25% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotateX(180deg) rotate(72.5deg);
	}
	25.1% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotate(270deg);
	}
	37.5% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotate(270deg);
	}
	37.51% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotateX(180deg) rotate(161.5deg);
	}
	50% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotateX(180deg) rotate(161.5deg);
	}
	50.01% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotate(180deg);
	}
	62.5% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotate(180deg);
	}
	62.51% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotateX(180deg) rotate(251.5deg);
	}
	75% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotateX(180deg) rotate(251.5deg);
	}
	75.01% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotate(90deg);
	}
	87.5% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotate(90deg);
	}
	87.51% {
	    stroke-dashoffset: 56.54867px;
	    transform: rotateX(180deg) rotate(341.5deg);
	}
	100% {
	    stroke-dashoffset: 268.60617px;
	    transform: rotateX(180deg) rotate(341.5deg);
	}
}


