<div *ngIf="flagList">
	Лист

	<ul>
		<li *ngFor="let men of service.listContacts;" >
			<a [routerLink]="['/messages']" 
				[queryParams]="{id : men.id}">{{men.name}} - {{men.id}}</a>
		</li>
	</ul>
</div>
<div *ngIf="!flagList">

	<div class="message light">
		<div class="message-back"><a routerLink="/"><span>🢐</span>  Назад</a></div>
		<div class="message-wrapper">
			{{contact.name}}
		</div>
	</div>

	<msg 
		*ngFor="let msg of messageArray" 
		[msgArray]="msg.messages" 
		[author]="msg.name"
		[time]="msg.date"
		[avatar]="msg.go === 'out' ? service.myAvatar : contact.avatar"
	></msg>

	<div class="answer">
		<span [ngStyle]="{animation: service.writes ? 'show  2s infinite linear' : ''}">{{contact.name}} пишет..</span>
	</div>


	<div class="message light">
		<div class="message-wrapper">
			<input type="text" 
				[(ngModel)]="newMessage" 
				(keydown)="enter($event)"
				placeholder="Сообщение">
		</div>
	</div>
</div>