<div *ngIf="flagList">

	<div class="message light">
		<div class="message-back"><a routerLink="/desk"><span>🢐</span>  Назад</a></div>
		<div class="message-wrapper">
			Сообщения
		</div>
	</div>

	<msg-in-list
		*ngFor="let item of service.sortedList"
		[name]="item.name"
		[avatar]="item.avatar"
		[lastMsg]="service.listLastMessage[item.id].msg"
		[writes]="item.writes"
		[read]="service.refContacts[item.id].read"
		[isNewChat]="!service.listLastMessage[item.id].msg "

		[routerLink]="['/messages']" 
		[queryParams]="{id : item.id}"
	></msg-in-list>

</div>
<div *ngIf="!flagList">

	<div class="message light">
		<div class="message-back"><a routerLink="/messages"><span>🢐</span>  Назад</a></div>
		<div class="message-wrapper">
			{{contact.name}}
		</div>
	</div>

	<div *ngIf="service.messages[id]">
		<msg 
			*ngFor="let msg of service.messages[id]" 
			[msgArray]="msg.messages" 
			[author]="msg.go === 'out' ? service.myName : contact.name"
			[time]="msg.date"
			[avatar]="msg.go === 'out' ? service.myAvatar : contact.avatar"
		></msg>
	</div>
	<div *ngIf="!service.messages[id]" class="new-chat">Сообщений пока нет, будьте первым кто напишет.</div>

	<div class="answer">
		<span [ngStyle]="{animation: service.refContacts[id].writes ? 'show  2s infinite linear' : ''}">{{contact.name}} пишет..</span>
	</div>

	<div class="message light">
		<div class="message-wrapper">
			<input type="text" 
				[(ngModel)]="service.refContacts[id].newMsg" 
				(keydown)="enter($event)"
				id="input"
				placeholder="Сообщение">
		</div>
	</div>
</div>